<div class="results" id="result">

    <div *ngFor="let character of characters" class="planet-card" [routerLink]="['/character', character._links.self.href]">
        <img style="margin-left: 20%; border-radius: 5px;" src="{{character.recipe.images.SMALL.url}}">
        <h2 class="planet-name"> {{ character.recipe.label }}</h2>
        <p class="planet-property">Calories: {{ character.recipe.calories }} kkcal</p>
        <p class="planet-property">Ingredients:</p>
        <ul>
            <li *ngFor="let ingredient of character.recipe.ingredientLines">{{ ingredient }}</li>
        </ul>
    </div>

</div>
<div *ngIf="characters.length == 0" class="no-planets">
    Start typing to find recipe.
</div>